
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&family=Oswald:wght@700&family=Supermercado+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root{
    --bg: #010103;
    --border: 1px solid black;
    --white: 1px solid white;
    --grey: 1px solid rgb(77, 75, 75);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth; /*deplacement fluide */
}

html::-webkit-scrollbar{ /*personnalisation de la barre de navigation */
    width: .2rem;
}

html::-webkit-scrollbar-track{ 
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 2rem;

}
body{
   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-attachment: fixed;
    background: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
   
    
}

header{
    position:relative;
    position: sticky;
   
    box-shadow: 0px 5px 10px #eb9b1a;
    top: 0;
    background-color: var(--bg);
    z-index: 1000;
    
}
/***********************************************/

header #container{
   
    width: 100%;
    height: 110px;
    border: 0px solid wheat;
    justify-content: space-between;
    display: flex;
   
}

nav{
    border: px solid black; 
}
.fa-magnifying-glass,
.fa-cart-shopping{
    color: white;
    cursor: pointer;
}

.fa-solid:hover{
    color: #eb9b1a;
    transition: .5s ease;
}
.contain .icone{
    
    width: 70px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.contain{
   
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 100px;
    height: 100px;
}
.logo{
    justify-content: left;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    border-bottom: 2px solid gray;
    color: #eb9b1a;
    transition: .8s ease;
}
.nav{
    width: 700px;
}
hr{
    width: 100%;
    height: 2px;
}

/********************************************************/
.sous{
    /* border: 3px solid rgb(158, 5, 5); */
    height: 600px;
    width: 320px;
    visibility: hidden;
    background-color: white;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
   
    display: block;
    top: 110px;
}
.sous .commande p{
    font-size: 30px;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.sous.visible {
    visibility: visible; /* Rendre visible */
    animation: defile 2s ease ; /* Démarrer l'animation */
}

@keyframes defile{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


.sous-content{
    display: flex;
   /* border: 2px solid rgb(21, 144, 76); */
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 290px;
    flex-direction: column;

}

.sous .article{
    
    box-shadow:  5px  5px 10px rgba(225,225,225,0.5);
    height: 120px;
    display: flex;
    width: 280px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.sous .article .article-image{
     /* border: 1px solid black; */
     width: 110px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90px;
}
.sous-content .article-description {
   /*  border: 1px solid rgb(41, 12, 147); */
    margin-left: 10px;
    display: flex;
    width: 150px;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
}
.article-image .plat{
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.article-image .plat:hover{
    width: 75px;
    height: 75px;
    transition: .5s ease;
}
.article-contain p{
    /* border: 3px solid rgb(154, 24, 111); */
    width: 150px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .article-contain  p .article-prix{  
    margin-top: 5px;
    width: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    display: flex;
   /*  border: 4px solid black; */
}
.article-contain .article-qte{
   /*   border: 1px solid black; */
     display: flex;
     width: 80px;
}
.article-contain{
   /*  border: 2px solid rgb(116, 5, 5); */
    margin-top: 15px;
    margin-left: 10px;
}
.article-remove{
    border: 0px solid black;
    width: 50px;
    height: 90px;
    display: flex;
    justify-content: center;
     align-items: center;
}
.article-contain .article-qte div{
    border: 1px solid rgb(229, 225, 225);
     display: flex;
     width: 25px;
     border-radius: 0px;
     justify-content: center;
     align-items: center;
}

#less, #more{
    cursor: pointer;
    font-size: 15px;
}

#less:hover, #more:hover{
    color: #eb9b1a;
}

#hr{
    width: 270px;
    margin-left: 20px;
    margin-top: 20px;
}

.buy{
    width: 100%;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 50px;
   /*  border: 1px solid black; */
    margin-bottom: 50px;
    
}

.buy p{
    background-color: #eb9b1a;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.buy p:hover{
    width: 155px;
    transition: .5s ease;
    
    background-color: rgb(46, 10, 10);
}

.article-total{
    display: flex;
    /*border: var(--grey);*/
    padding-top: 5px;
    justify-content: flex-end;
    padding-right: 30px;
}

.buy p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-xmark{
    color: black; 
    left: 10px;
}


/**************************************************/
#search{
    position: fixed;
    width: 400px;
    background-color: white;
    height: 40px;
    right: 180px;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
    top: 110px;
    outline: none;
    padding: 0px;
   
}
#recherche{
    color: #010103;
    margin-right: 5px;
}
#recherche:hover{
    color: #eb9b1a;
}
#search input{
    width: 90%;
    border: none;
    border-bottom: 1px #13131a;
    padding: 5px;
    height: 100%;
    outline: none;
    font-size: 1rem;
}
 

#search.visible{
    visibility: visible; /* Rendre visible */
    animation:  0.5s ease ; /* Démarrer l'animation */
}
    
  

    




/********************************************/



#corp_1{
    border: 0px solid rgb(160, 13, 13);
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    background: url('Images/coffee-424763.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

#corp_1 .div{
    border: 0px solid rgb(206, 191, 191);
    height: 80px;
    width: 800px;
    padding-left: 100px;
    color: white;
}
#corp_1 .get{
    height: 60px;
    border: px solid black; 
}
#corp_1 .get-button{
    
    background-color: #eb9b1a;
    color: white;
    width: 100px;
    margin-left: 100px;
    cursor: pointer;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
}

#corp_1 .get-button:hover{
   
    transition: .5s ease;
    width: 110px;
    background-color:  rgb(46, 10, 10);
}

#corp_1 .font{
    height: 140px;
}
#corp_1 .font p{
    font-size: 60px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.1;
    color: white;
    font-style: normal;
}


/***********************************/

.about{
    border: 0px solid whitesmoke;
    min-height: 100vh;
    color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.about .title{
    padding-top: 30px;
}
.about .title p {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #eb9b1a;
}

.about .title p span{
    color: white;
}
.about-contain{
    display: flex;
    justify-content: space-between;
    border: 0px solid white;
    padding: 70px;
}

.about-contain .picture{
    border:  0px solid white;
}

.about-contain .img{
    width: 600px;
    height: 400px;
}

.about-contain .contain-text{
    border:  0px solid white;
    background-color: #13131a;
    width: 600px;
    height: 400px;
    padding: 20px;
}

.about-contain .contain-text h3{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    padding-bottom:20px ;
    padding-top: 20px;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
}
.about-contain .contain-text p{
    color: white;
    width: 550px;
   
}
.about-contain .contain-text .more{
    background-color: #eb9b1a;
    color: white;
    width: 150px;
    margin-top: 15px;
    cursor: pointer;
    height: 35px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    font-weight: 500;
}
.about-contain .contain-text .more:hover{
    width: 160px;
    transition: .5s ease;
    height: 40px;
    background-color:  rgb(46, 10, 10);
}

/***************************************/



.menu{
    border: 0px solid whitesmoke;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .titre{
    padding-top: 40px;
    border: 0px solid white;
    margin-bottom: 20px;
    
}
.menu .titre p {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #eb9b1a;
}

.menu .titre p span{
    color: white;
}
.menu .menu-contain{
    border: 0px solid white;
    width: 72%;
    height: 330px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.menu .contain:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;

}

.menu .menu-contain .contain{
    width: 350px;
    border: 1px solid rgb(77, 75, 75);
    display: block;
    text-align: center;
    height: 300px;
}
.menu .menu-contain .contain .pic{
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
}

.menu .menu-contain .contain .description{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.menu .menu-contain .contain span{
    font-size: 12px;
    opacity: 0.5;
    text-decoration: line-through;
}

.menu .menu-contain .contain .prix{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contain .bouton{
    border: 0px solid black;
    width: 150px;
    margin-top: 30px;
    margin-left: 90px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #eb9b1a;
}

.contain .bouton:hover{
    width: 160px;
    transition: .5s ease;
    height: 40px;
    color: white;
    background-color:  rgb(46, 10, 10);
}






/***************************************/






.product{
    border: 0px solid whitesmoke;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .titre{
    border: 0px solid white;
    padding-top: 30px;
    padding-bottom: 5px;
}
.product .titre p{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
}

.product .titre p span{
    color: #eb9b1a;
}

#product-container{
    width: 80%;
    height: 80vh;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
  /*  border: var(--white); */
}

#product-container .contain{
    border: var(--grey); 
    width: 350px;
    display: block;
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    height: 520px ;
}

#product-container .contain .product-icon{
    /*border: var(--white); */
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-left: 75px;
    margin-bottom: -10px;
}

.fa-star{
    color: white;
}
.fa-star.active{
    color: #eb9b1a;
}
#product-container .contain .product-icon .fa-solid:hover{
    color: white;
    cursor: pointer;
}

#product-container .contain .product-icon div{
    border: var(--grey);
    padding: 10px;
}
#product-container .contain .product-icon div:hover{
    background-color: #eb9b1a;
    cursor: pointer;
    border: none;
}

#product-container .contain .product-image{
    /*border: var(--white); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    height: 300px;
}

#product-container .contain .product-image .a{
    width: 300px;
    height: 350px;
}

#product-container .contain .product-image .a:hover{
    width: 310px;
    transition: 0.5s ease;
    height: 360px;
}

#product-container .contain .product-image .b{
    width: 200px;
    height: 280px;
}
#product-container .contain .product-image .b:hover{
    width: 210px;
    transition: 0.5s ease;
    height: 290px;
}

#product-container .contain .product-image .c{
    width: 210px;
    height: 290px
}

#product-container .contain .product-image .c:hover{
    width: 220px;
    transition: 0.5s ease;
    height: 300px;
}



#product-container .contain .product-description{
   /* border: var(--white); */
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 0px;
}
#product-container .contain .product-description p{
    margin: 10px;
    
}


#product-container .contain .product-description .prix{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-solid:hover{
    cursor: pointer;
}

#product-container .contain .product-description p span{
    font-size: 12px;
    opacity: 0.5;
    text-decoration: line-through;
}

#product-container .contain .product-description .desc{

    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
}


/************************************/




.review{
    border: 0px solid whitesmoke;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review .titre{
    border: 0px solid white;
    padding-top: 30px;
    padding-bottom: 10px;
}
.review .titre p{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
}

.review .titre p span{
    color: #eb9b1a;
}

#review-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px;
   /* border: var(--white);*/
}

.review-contain{
    border: var(--grey);
    width: 400px;
    padding: 30px;
    height: 500px;
}
.review-quote{
   /* border: var(--white);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.review-quote .fa-quote-right{
    font-size: 100px;
    color: #eb9b1a;
}
.review-text{
   /* border: var(--white);*/
    width: 100%;
    height:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.review-picture{
    width: 100%;
    height: 200px;
    /*border: var(--white); */
}
.review-photo{
   /* border: var(--white);*/
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-photo .photo{
    border-radius: 50%;
    width: 80px;
    justify-content: center;
    align-items: center;
}
 .review-nom{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .review-nom p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
 }
 .review-rate{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
 }



 /*******************************************/




 .contact{
    border: 0px solid whitesmoke;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .titre{
    border: 0px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact .titre p{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color:#eb9b1a;
}

.contact .titre p span{
    color: white;
}
#contact-container{
    /*border: var(--white);*/
    width: 100%;
    height: 600px;
}
.contact-contain{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}
.contact-map{
    
    width: 600px;
    height: 450px;
}
.contact-form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    background: #13131a;
}

.contact-form .formulaire{
   /* border: var(--white);*/
    width: 550px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-form .formulaire h2{
    margin-bottom: 20px;
}

.contact-input{
    /*border: var(--white);*/
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}

.contact-input .fa-solid{
    margin-right: 10px;
    margin-left: 10px;
}

.contact-form .formulaire input{
    width: 80%;
    height: 100%;
    background: transparent;
    outline: none;
    color: white;
    border: none;
   

}
.input{
    width: 450px;
    background-color: transparent;
    border: var(--grey);
    text-transform: capitalize;
    color: white;
    height: 40px;
}

.contact-submit{
   
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: #eb9b1a;
    transition: 1s ease;
    color: white;
    height: 40px;
}

.contact-submit:hover{
    transition: .5s ease;
    color: white;
    background-color:  rgb(46, 10, 10);
}


/************************************************************/


.blog{
    border: 0px solid whitesmoke;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog .titre{
    border: 0px solid white;
    padding-top: 5px;
    padding-bottom: 20px;
}
.blog .titre p{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
}

.blog .titre p span{
    color: #eb9b1a;
}

#blog-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 580px;
    padding: 140px;
   /* border: var(--white);*/
    justify-content: space-between;
}
.blog-contain{
    width: 400px;
    height: 500px;
    border: var(--grey);
}

.blog-picture {
    width: 100%;
    display: flex;
    align-items: center;
    height: 230px;
    border: var(--grey);
    justify-content: center;
    
}

.blog-thé{
    width: 400px;
    height: 230px;
  
}

.blog-thé:hover{
     width: 390px;
     transition: 0.5s ease-in-out;
    height: 220px;
}

.blog-text{
    width: 100%;
    height: 200px;
    display: block;
    padding: 10px;
    justify-content: left;
    /*border: var(--white);*/
}
.blog-text p{
   /* border: var(--white);*/
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    justify-content: left;
}
.blog-text .first{
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
}

.blog-text .second{
    color: #eb9b1a;
}

.blog-text .third{
    color: white;
    opacity: 0.5;
}
.blog-more{
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    background-color: #eb9b1a;
    justify-content: center;
    
}

.blog-more:hover{
  
    color: white;
    background-color:  rgb(46, 10, 10);
    transition: transform 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
}


  
#footer{
  /*  border: 1px solid whitesmoke;*/
    min-height: 40vh;
    color: white;
    position: relative;
    background-color: #13131a;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container{
   /* border: var(--white);*/
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo{
   /* border: var(--white);*/
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.footer-logo .logo{
    background-color: #eb9b1a;
    height: 40px;
    display: flex;
    border-radius: 50px;
    width: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.footer-logo .logo:hover{
     color: white;
     background-color:  rgb(46, 10, 10);
     transition: 0.5s ease;
     transform:rotate(360deg) ;
}


.footer-nav{
     /* border: var(--white);*/
      width: 100%;
      margin-top: 20px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
     
}
.footer-nav ul{
    display: flex;
   
    width: 900px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.footer-nav ul li{
    list-style: none;
    border: var(--grey);
    display: flex;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    height: 40px;
    align-items: center;
}


.footer-nav ul li:hover{
    background-color: #eb9b1a;
    transition: 0.5s ease;
}
.footer-nav ul li a{
    color: white;
    text-decoration: none;
}

.footer-end{
    /*border: var(--white);*/
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-end p span{
    color: #eb9b1a;
}